[Unit]
Description=Gunicorn instance
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/portfolio
Environment="PATH=/home/ubuntu/portfolio/venv/bin"
ExecStart=/home/ubuntu/portfolio/venv/bin/gunicorn --workers 3 --bind unix:django_app.sock -m 007 portfolio.wsgi:application

[Install]
WantedBy=multi-user.target