{% extends 'base.html' %}


{% block base_body_content %}
<h1>About</h1>
<p class="lead">This is the about.html page.</p>
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur perspiciatis asperiores sit? Consequuntur numquam possimus inventore ut nesciunt molestias mollitia enim fuga quod reprehenderit sequi, ullam facere voluptates totam, soluta ab odio porro harum temporibus dignissimos unde? Ipsa nihil eos, blanditiis non provident quasi officiis odit architecto rem nulla dicta.</p>
{% endblock base_body_content %}



