{% extends 'base.html' %}

{% block base_body_content %}

<div class="text-center mt-5">
    <h1 class="display-2">
        {% if error_number %}
        Error {{ error_number }}
        {% else %}
        Error 500
        {% endif %}
    </h1>
    <p class="lead fw-normal">
        {% if error_message %}
        {{ error_message }}
        {% else %}
        The server encountered an internal error and was unable to complete your request.
        {% endif %}
    </p>
</div>

{% endblock base_body_content %}




